<header>
  <div class="container top-bar ">
    <nav class="navbar navbar-right" >
      <ul class="nav nav-pills top"  align="right" >
        <li><img src="images/logo.png"></li>
        <li >
          <h3 class="top">Richard Mendoza<br>
            <span><small>richard.mendoza@space.com</small></span></h3>
        </li>
      </ul>
    </nav>
    <div class="bottom">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
          <ul class="nav-bottom">
            <li class="nav-bottom">Arrival</li>
            <li class="nav-bottom">Depature</li>
            <li class="nav-bottom">MyBooking</li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- header ends-->
<div class="clearfix"></div>

  <div class ="container main">
    <!--<h5><small>From</small></h5>-->
    <div class="col-lg-6">
      <h4><small><b>From</b></small></h4>
      <p>Singapore</p>
    </div>
    <div class="col-lg-6">
      <h4><small><b>To</b></small></h4>
      <p>Hanoi</p>
    </div>
    <div class="col-lg-6">
      <h4><small><b>Date</b></small></h4>
      <p>22 December 2018</p>
      </select>
    </div>
    <div class="col-lg-6"> </div>
    <br>
    <div class="container btn-bottom">
      <div class="col-lg-4">
        <button class="btn-cancel btn-three" type="button" autofocus >
        <a href="#/add" style="color:#92c2f2!important;"><b>Back</b></a>
        </button>
      </div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-primary btn-ml  btn-second " autofocus >
        <a href= "#/empty" style="color:#FFFF!important;"><b>CANCEL MY BOOKING</b>
        </button>
      </div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-primary btn-ml btn-first" autofocus >
        <a href= "#/view" style="color:#FFF!important;"><b> MODIFING MY BOOKING</b>
        </button>
      </div>
    </div>
  </div>