<header> <a href="book-add.html"></a> <a href="book-empty.html"></a> <a href="book-list.html"></a>
  <div class="container top-bar">
    <nav class="navbar top  navbar-right" >
      <ul class="nav nav-pills "  align="right" >
        <li><img src="images/logo.png"></li>
        <li >
          <h3 class="top">Richard Mendoza<br>
            <span><small>richard.mendoza@space.com</small></span></h3>
        </li>
      </ul>
    </nav>
    <div class="bottom">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
          <ul class="nav-bottom">
            <li class="nav-bottom">Arrival</li>
            <li class="nav-bottom">Depature</li>
            <li class="nav-bottom">MyBooking</li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="clearfix"></div>
<main>
  <div class ="container main">
    <p>Sat 22 December</p>
    <div class="book-list" >
        <div class="col-lg-2">
        <ul style="list-style:none">
		<li class="top-li">
          <h4>SIN</h4>
         <label>Singapore</label>
          <h4>4.10pm</h4>
		  </li>
        </ul>
      </div>
      <div class="col-lg-8 mid-con" >
	   <img src="../images/flight.png" ><hr class="new-line">
    </div>
    <div class="col-lg-2">
      <ul style="list-style:none">
        <li  class="bottom-li">
		<h4>Han</h4>
        <lable>Hanoi</lable>
        <h4>6.25pm</h4></li>
      </ul>
    </div>
  </div>
  <div class="btn-list">
    <button type="button" class="btn btn-primary btn-ml btn-book">
   <a href="#/add">BOOK</a>
    </button>
  </div>
  </div>
</main>
<footer> </footer>