<h1> My Booking {{name}}</h1>

<a href="#/add">Add</a>
<a href="#/">Home</a>
<div class="container">
  <div class="s_con">
     <div class="head">
      <div class="circle" align="right"> <span>RM</span></div>
      
    
	<div class="">
	<h2 align="right">Richard Mendoza</h2>
    <p align="right">richard . mendoza@space.com</p>
	</div>
	</div>
	
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="active">Arrival</li>
        <li class="active">Depature</li>
        <li class="active">My Booking</li>
      </ul>
      </li>
      </ul>
    </div>

  </div>

</div>
